/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #000000f2;
    --texto: #f3f3f3;
    --texto-inverso: #000000;
    --destaque: #2edd91fb;
    --destaque-inverso: #074f30a1;
    --fundo-card: #2c2c2c;
}


body {
    background-color: var(--fundo-principal);
    color: var(--texto);
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: var(--destaque);
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav#menu a {
    color: var(--texto-inverso);
    text-decoration: none;
    font-weight: 600;
    padding: 12px 20px;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 1.5em;
}

nav#menu a:hover {
    background-color: var(--destaque-inverso);
    color: var(--texto);
}

main {
display: grid;
grid-template-columns: auto 90vw auto;
gap: 20px;
margin-top: 20px;
}
    
section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0;
  text-align: center;
    
}

section#ficha p {
  color: var(--texto);
  text-align: center;
  font-size: 1.3em;
  line-height: 1.8;
}

div#social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

div#social a {
  color: var(--destaque);
  font-size: 1.9em;
  transition: color 0.3s;
}

div#social a:hover {
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}

article{
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;

}

article h2 {
  color: var(--destaque);
  margin-bottom: 15px;
}

article#video .video-container {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 14/9;
  border: 1px solid var(--destaque);
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
    

}

#skill-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#skill-container .nome{
font-weight: bold;
color:var(--texto);

}

#skill-container .porcent{
font-weight: bold;
color: var(--destaque);
font-size: 20px; 
}

#skill-container .barra {
  width: 100%;
  height: 20px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
  
}

#skill-container .progresso {
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 5px;
}


@media screen and (min-width: 768px) {
  #skill-container {
    grid-template-columns: 1fr 1fr;
  }
  
} 